{% comment %}
  <!-- /templates/customers/reset_password.liquid -->

  {% form 'reset_customer_password' %}

  {{ form.errors | default_errors }}

  <label for="password">Password</label>
  <input type="password" value="" name="customer[password]" size="16" />

  <label for="password_confirmation">Password Confirmation</label>
  <input
    type="password"
    value=""
    name="customer[password_confirmation]"
    size="16"
  />

  <input type="submit" value="Reset Password" />

  {% endform %}
{% endcomment %}
{% comment %}
  <!-- /templates/customers/register.liquid -->

  {% form 'create_customer' %}

  {{ form.errors | default_errors }}

  <label for="first_name">First Name</label>
  <input type="text" value="" name="customer[first_name]" size="30" />

  <label for="last_name">Last Name</label>
  <input type="text" value="" name="customer[last_name]" size="30" />

  <label for="email">Email Address</label>
  <input type="email" value="" name="customer[email]" size="30" />

  <label for="password">Password</label>
  <input type="password" value="" name="customer[password]" size="30" />

  <input type="submit" value="Create" />

  {% endform %}
{% endcomment %}

<div
  class="flex justify-center h-full px-6 py-12 mx-auto lg:px-8 align-center"
>
  <div class="w-full max-w-md space-y-8">
    <div>
      <h2 class="mt-6 text-3xl font-extrabold text-center text-gray-900">Reset your password</h2>
    </div>
    <div class="mt-8">
      {% form 'reset_customer_password' %}
        {%- if form.errors -%}
          <div class="relative px-4 py-3 text-red-700 bg-red-100 border border-red-400 rounded">
            <strong class="font-bold">Error!</strong>
            <span class="block sm:inline">{{ form.errors | default_errors }}</span>
          </div>
        {%- endif -%}
        <div class="my-2">
          <label for="customer_Password" class="sr-only">Password</label>
          <input
            type="password"
            name="customer[password]"
            placeholder="Password"
            autocomplete="new-password"
            id="customer_Password"
            class="w-full px-4 py-2 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm appearance-none focus:outline-none focus:bg-white focus:border-gray-500"
          >
        </div>
        <div class="my-2">
          <label for="Confirm_password" class="sr-only">Confirm password</label>
          <input
            type="password"
            name="customer[password_confirmation]"
            placeholder="Confirm password"
            id="Confirm_password"
            class="w-full px-4 py-2 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm appearance-none focus:outline-none focus:bg-white focus:border-gray-500"
          >
        </div>
        <div class="my-2">
          <button
            type="submit"
            class="w-full px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-blue-500 rounded-md hover:bg-blue-400 focus:outline-none focus:bg-blue-400"
          >
            Reset Password
          </button>
        </div>
      {% endform %}
    </div>
  </div>
</div>
