<div class="flex flex-col items-center justify-center min-h-full mt-10">
  <div class="w-full max-w-md space-y-8 ">
    <h1 class="text-3xl font-bold text-center text-gray-700">Activate Account</h1>
    <p class="mt-3 leading-relaxed text-center text-gray-400 text-md">Create your password to activate your account</p>

    {% form 'activate_customer_password', class: 'w-full space-y-4' %}
      {%- if form.errors -%}
        <div class="relative px-4 py-3 text-red-700 bg-red-100 border border-red-400 rounded">
          <strong class="font-bold">Error!</strong>
          <span class="block sm:inline">{{ form.errors | default_errors }}</span>
        </div>
      {%- endif -%}
      <div>
        <label for="new_password">Password</label>
        <input
          class="block w-full p-2 border border-gray-300 outline-none"
          type="password"
          name="customer[password]"
          id="new_password"
          autocomplete="new-password"
        >
      </div>
      <div>
        <label for="confirm_password">Confirm Password</label>
        <input
          class="block w-full p-2 border border-gray-300 outline-none"
          type="password"
          name="customer[password_confirmation]"
          id="confirm_password"
        >
      </div>
      <div class="items-center justify-between w-full mt-6 space-x-2 md:flex ">
        <button
          type="submit"
          class="flex-1 px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-blue-500 rounded-md hover:bg-blue-400 focus:outline-none focus:bg-blue-400"
        >
          Active
        </button>
        <button
          type="submit"
          value="decline"
          class="flex-1 px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-blue-500 rounded-md hover:bg-blue-400 focus:outline-none focus:bg-blue-400"
        >
          Decline
        </button>
      </div>
    {% endform %}
  </div>
</div>
